# nix build ..#d.python-nopkgs --out-link ./result-python-nopkgs-persist
nix build ..#p.python312 --out-link ./result-python-nopkgs-persist

export UV_NO_SYNC="1"

export UV_PYTHON="$(pwd)/result-python-nopkgs-persist/bin/python"

export UV_PYTHON_DOWNLOADS="never"
